// Buttons

$buttonshadow: 0 0 0.2em $color-text; 

@mixin button($buttonback, $buttoncolor){
	position:relative;
	text-align:right;
	display:block;
	padding:1em;
	border:none;
	margin-bottom:0.5em;
	text-decoration:none;
	@include media(momma){
		display:inline-block;
		margin:0;
	}
	
	background:$buttonback;
	color:$buttoncolor;
		&:hover{
			background: adjust-lightness($buttonback, 5%);
			color:$buttoncolor;
		}
	cursor:pointer;


	&:before{
		position:absolute;
		left:0.5em;
		font-size:2em;
		line-height:0.7;
		column-rule: $color-body;
	}
	&:hover:before{
		color:white;
	}
}

.button, input[type=submit]{
	@include button($color-green, $color-text);
}