.grid{
	margin-right:-0.5em;
	margin-left:-0.5em;
	clear:both;
}
.grid-item{
	float:left;
	padding:0.5em;
}
.quarter{
	width:25%;
}
.third{
	width:33.333%;
}
.half{
	width:50%;
}
.two-thirds{
	width:66.666%;
}
.three-quarters{
	width:75%;
}