[class^="icon-"], [class*=" icon-"] {
    height: 1em;
    width: 1em;
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
}

@mixin icon-link-colors($icon-color){
	a & {
		color:adjust-lightness($icon-color, 15);
	}
	a:hover & {
		color: $icon-color;
	}
}

.social-links{
	font-size:2em;
}



.icon-twitter{
	@include icon-link-colors(#55ACEE);
}
.icon-github{
	@include icon-link-colors($color-text);
}
.icon-codepen{
	@include icon-link-colors(#E79E02);
}