nav{
	font-family:'Roboto Slab', serif;
	font-weight:400;
	font-size:1.6em;
	a{
		text-decoration: none;
		&:visited{
			color:$color-blue;
		}
	}
}

.post-navigation .nav-links{
	font-size:1.4rem;
	margin:1em 0;
	a{
		display:block;
		padding:0.5em;
		border-top:solid thin;
		color:white;
		background:$color-blue;
	}
	.nav-next a{
		text-align:right;
		background:$color-green;
	}
}