.mission{
	font-family:'Open Sans', serif;
	a{
		text-decoration: none;
		&:visited{
			color:$color-blue;
		}
	}
}

.post-title{
	margin:0;
	a{
		text-decoration: none;
		color:$color-link;
	}
}
.post-byline{
	padding:0.25em 0;
	border-top:solid thin $color-text-light;
	border-bottom:solid thin $color-text-light;
	margin:0.25em 0 0.5em;
	a{
		text-decoration:none;
	}
}

.post + .post{
	padding-top:1em;
	border-top:solid;
	margin-top:2em;
}