plugins/
themes/twenty*
themes/index.php
uploads/
node_modules/
bower_components/
.sass-cache/
.DS_Store
Proper-Bear*
plugins/
themes/twenty*
themes/index.php
uploads/
node_modules/
bower_components/
.sass-cache/
.DS_Store
Proper-Bear*
style.css
sprite.symbol.svg
themefunctions.min*
symbols.svg
cached_uglify
hotupdate.js
hotupdate.json
bundle.js
bundle.js.map
hotupdate.js.map