table{
	margin:1rem 0;
	text-align:left;
}

thead{
	background:$color-text;
	color:$color-body;
}

tr:nth-child(even){
	background:shade($color-body, 5);
}

td, th{
	vertical-align:top;
	padding:0.5em 0 0.5em 0.75em;

	&:last-child{
		padding-right:0.75em;
	}
}