// Site maximum width
$width-site-max: 50rem;


// Colours

$color-text:	#353029;
$color-text-light: adjust-lightness($color-text, 40);
$color-body:	#F0EFEB;
$color-link:	#1B75BB;

$color-red:		#bf1b2c;
$color-orange:	#f14624;
$color-yellow:	#f2ef1d;
$color-green:	#8BC53F;
$color-blue:	#1B75BB;
$color-purple:	#652D90;

$design-gradient: linear-gradient(90deg, #bf1b2c, #bf1b2c 19%, #f14624 19%, #f14624 38%, #f2ef1d 38%, #f2ef1d 57%, #8BC53F 57%, #8BC53F 62%, #1B75BB 62%, #1B75BB 81%, #652D90 81% );


// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

$font-headline: 'Roboto Slab', serif;
$font-body: 'Open Sans', sans-serif;