// Adjust fixed position when the admin bar is displayed
@mixin wp-admin-bump{
  .admin-bar & {
      margin-top: 46px;

      @media screen and (min-width: 782px){
        margin-top: 32px;
      }
    }
}

// WP specific image positioning and sizing

img[class*='wp-image-'], .wp-caption{
	display:block;
	max-width:100%;
	height:auto;
}

.alignleft{
	float:left;
}

.alignright{
	float:right;
}